body{
    display:flex;
    justify-content:center;
    align-items:center;
    height : 100vh;
    margin:0;
    flex-direction : column;
    gap : 30px;
}

.container{
    display : flex;
    flex-wrap : wrap;
    flex-shrink: 0;
    width : 480px;
    height : 480px;
    border : 1px solid black;
}

.items{
    width : 30px;
    height : 30px;
    display :flex;
    align-items : center;
    justify-content : center;
}